*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* segment or section related */
body{
    position: relative;
}

section{
    margin:  2rem 0;
}
.section{
    margin: 4rem 0;
}


.main-body{
    background-color: #fffbfa;
    padding: 1rem;
}

/* flex */
.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col2-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.col2-flex-left{
    width: 50%;
    padding: 1rem;
}
.col2-flex-right{
    width: 50%;
    padding: 1rem;
}

.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.col3-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
    justify-items: center;
}
.col4-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    gap: 1rem;
    justify-items: center;
}

/* text related */
.text-white{
    color: white;
}

.heading , .heading2 , .heading3{
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    margin: 0.5rem 0;
}

.heading2{
    font-size: 3rem;
}

.heading3{
    font-size: 2.5rem;
}

.text-details{
    font-size: 1.2rem;
    color: #3d3d3d;
    text-align: justify;
}

.text-hightlight{
    font-size: 1.3rem;
    font-weight: 700;
    color: #2b2b2b;
    margin: 0.5rem 0;
}

.title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
    color: #1f1f1f;
}

.text-center{
    text-align: center;
}


/* shape related  */
.radious-lg{
    border-radius: 10px;
}

/* button */
.btn{
    padding: 0.7rem;
    font-size: 1.4rem;
    background-color: #292929;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: 500;
}

.btn-primary{
    background-color: #8059ec;
    transition: all 0.4s ease-in;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #f1588b;
}

.btn-secondary{
    background-color: #111111;
    transition: all 0.2s ease-in;
    cursor: pointer;
    color: white;
}

.btn-secondary:hover{
    color: cyan;
    border-radius: 10px;
    box-shadow: 0 0 0.6rem #26b3b3,
                0 0 0.6rem #26b3b3;
    transform: scale(1.1);
}

/* font size */
.fs-1{
    font-size: 1rem;
}
.fs-1-5{
    font-size: 1.5rem;
}
.fs-2{
    font-size: 2rem;
}
.fs-3{
    font-size: 3rem;
}

/* background */
.bg1{
    background-color: #fdf9d3be; 
}

.bg2{
    background-color: #111111;
    color: white;

}

/* padding */
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}

.px-1{
    padding: 0 1rem;
}

.py-1{
    padding: 1rem 0;
}
.px-2{
    padding: 0 2rem;
}

.py-2{
    padding: 2rem 0;
}


/* margin */
.mt-4{
    margin-top: 2rem;
}
.mb-4{
    margin-bottom: 2rem;
}

.my-1{
    margin: 1rem 0;
}
.mx-1{
    margin: 0 1rem;
}
.my-2{
    margin: 2rem 0;
}
.mx-2{
    margin: 0 2rem;
}
.my-3{
    margin: 3rem 0;
}
.mx-3{
    margin: 0 3rem;
}

.mx-auto{
    margin: 0 auto;
}


/* box/card start */
.box{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.box-image{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
}

.box-info{
    padding: 1rem;
}

.box-title{
    font-size: 1.8rem;
    margin: 0.5rem 0;
}

.box-text{
    font-size: 1.2rem;
    color: #474747;
    text-align: justify;
}


/* height width */
.w-50{
    width: 50%;
}
.h-50{
    height: 50%;
}

.h-20{
    height: 20rem;
}

.h-30{
    height: 30rem;
}

.w-10{
    width: 10rem;
}

.w-20{
    width: 20rem;
}

.w-30{
    width: 30rem;
}

.w-40{
    width: 40rem;
}

/* common style  end*/


/* header section start */
.navbar{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: #1f1f1f;
    color: white;
}

.nav-title{
    width: 40%;
    font-size: 1.8rem;
}
.nav-menu{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.nav-menu a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    transition: transform 0.4s;
    text-align: center;
}

.nav-menu a:hover{
    color: cyan;
    border-radius: 10px;
    box-shadow: 0 0 0.6rem #26b3b3,
                0 0 0.6rem #26b3b3;
    transform: scale(1.1);
}

.active{
    color: cyan;
    border-radius: 10px;
    box-shadow: 0 0 0.6rem #26b3b3,
                0 0 0.6rem #26b3b3;
    transform: scale(1.1);
}

.banner{
    height: 90vh;
    width: 100%;
    background-image: url("../assets/images/cosulting/cns-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    background-color: rgb(129, 129, 129);
    background-blend-mode: multiply;
}

/* header section end */


/* about section start */
.about-info{
    width: 50%;
    padding: 1rem;
}

.about-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
    margin-top: 2rem;
}

.about-img-container img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/* about section end */



/* instructors section start */

/* instructors section end */


/* footer start */
footer a{
    text-decoration: none;
    color: #3d3d3d;
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
}
/* footer end */


/* responsive style start */

/* responsive style end */